@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 15px;
  }
  @media (min-width: 1024px) {
    html {
      font-size: 17px;
    }
  }
  body {
    @apply text-default-900 bg-default-50;
    font-feature-settings: "case" 1, "liga" 1;
  }
  svg {
    width: 1.05em;
    height: 1.05em;
  }
}
